<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:object="${department}">
  <h2 th:text="*{name}"></h2>

  <div class="actions">
    <button onclick="showEditDepartmentModal([[${department.id}]])">Edit</button>
    <button onclick="deleteDepartment([[${department.id}]])">Delete</button>
  </div>

  <h3>SubDepartment:</h3>
  <div th:each="child : *{children}">
    <a th:href="@{/department/{id}(id=${child.id})}" th:text="${child.name}"></a>
  </div>

  <h3>Patients:</h3>
  <div id="patientsList"></div>
</div>

<script>
  function deleteDepartment(id) {
      if (confirm('Удалить отделение?')) {
          fetchWithLoader(`/api/departments/${id}`, { method: 'DELETE' })
              .then(() => window.location.href = '/');
      }
  }
</script>
</body>
</html>